{
    "__comment" : "deployment specific parameters are described here, e.g., database configuration parameters (server_port, IP, name).",


    "DATABASE": {
         "description"  : "database configuration option",
         "server" : "localhost",
         "port" : "27017",
         "name" : "ohouse"
    },

    "PROJECT": {
        "description" : "Maximum possible time a project expiration date can be extended",
        "max_project_extension_time" : 30
        },

    "SLICE": {
        "description" : "Maximum possible time a slice expiration date can be extended",
        "max_slice_extension_time" : 30
      }

}
